<html>
  <head>
    <title>GoBlog</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/goblog.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span2 well">
          <h1>Menu</h1>
          <div id="debug"></div>
        </div>
        <div class="span5 well">
          <h1>Home</h1>
          <div id="command-row" class="row">
            <div class="span5">
              <input type="text" id="command-input" name="command" class="span5" />
            </div>
          </div>
          <div id="source-row" class="row">
          </div>
        </div>
        <div class="span3 well">
          <h1>Side</h1>
        </div>
      </div>
    </div>
  </body>
</html>
