{{define "login"}}
<html>
  <head>
    <title>ログインページ</title>
    <link href="http://nise-nabe.github.com/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/goblog.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="login-form">
            <h2>Login</h2>
            <form action="/login/post" method="POST">
              <fieldset>
                <div class="clearfix">
                  <input name="username" type="text" placeholder="Username" />
                </div>
                <div class="clearfix">
                  <input name="password" type="password" placeholder="Password" />
                </div>
                <button class="btn primary" type="submit">Sign in</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
